/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box; 
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
}

section{
  width: 100%;
}

h1{
  font-family:'Karla', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.7em;
  text-align: center;
}

h2{
  font-family:'Karla', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.4em;
  letter-spacing: 0.1em;
  text-align: center;
}

main > section:nth-of-type(2) > h2, main section:nth-of-type(4) > h2, .product main > section > h2, .product main > section:first-of-type > section:first-of-type h2{
  display:none;
}

h3{
  font-family:'Karla', sans-serif;
  font-weight: 700;
  font-size: 1em;
}

p{
  font-family:'Karla', sans-serif;
  font-weight: 400;
  font-size: 1em;
}

q{
  font-family: 'Merriweather',serif;
  font-weight: 300;
  font-size: 1.3em;
  line-height: 1.3em;
  display: block;
}

a{
  font-family:'Karla', sans-serif;
  font-weight: 700; 
  text-decoration: none;
  color: black;
}

button, ul{
  font-family:'Karla', sans-serif;
}

button:hover, a:hover{
  cursor:pointer;
}

/* Navigatie */

header {
  position: fixed;
  background-color: white;
  z-index:1;
  width: 100%;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
  top:0;
}

header p{
    background-color:#946cc7;
    color: white;
    padding:1em;
    font-weight: 700;
    text-align: center;
}

header nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.3em;
  background-color: white;
}

header nav a img {
  height: 3em;
}

header nav ul:first-of-type{
  display:none;
}

header nav ul li{
  display: inline-block;
  padding-left: 1em;
}

header nav ul li button{
  background-color:white;
}

header nav ul li button img, header nav ul li img {
  width: 1.3em;
}

header nav ul li button img, header nav ul li svg {
  width: 20px;
}

header > ul {
  position:absolute;
  display: block;
  width: 100%;
  list-style-type: none;
  top: -15em;
  background-color: white;
  transition: ease-in-out 1s;
  z-index: -3;
}

header > ul li{
  border-top: 2px solid  #f3efec;
  padding: 0.5em 2em;
  text-transform: uppercase;
}

.dropdownnav {
  top:11em;
}

main {
  margin-top: 9em;
}

/* eerste sectie */

main > section:first-of-type{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-image: url('../images/Atelje_Yara_Michels_Pearl_Phone_Cases_Home_Image.png');
  background-position: center;
  background-color: blue;
  object-fit: cover;
}

section:first-of-type h1{
  position: absolute;
  top: 50%;
  left: calc(50% - 4em);
  color: white;
}

main > section:first-of-type a{
  position: absolute;
  top: 60%;
  left: cal(50% - 10em);
  text-transform: uppercase;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  padding: 0.7em 1.6em;
  color: #e3efec;
  background-color:#946cc7;
  border-radius: 0.1em;
  text-align: center;
  display:inline-block;
  margin-left:calc(50% - 4.5em);
 
}

/* tweede sectie */

main > section:nth-of-type(2){
  padding: 5em 1.5em;
  width: 66.67%;
}

/* derde sectie */
main > section:nth-of-type(3){
  padding: 1.5em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  position: relative;
}

main > section:nth-of-type(3) h2{
width: 100%;
margin-bottom: 2em;
grid-column: 1 / -1;
}

article{
  text-align: center;
  margin-bottom: 1em;
}

article img{
  width: 100%;
  margin-bottom:1em;
}

main > section:nth-of-type(3) > a:last-of-type{
  position: relative;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 0.7em 1.6em;
  color: #e3efec;
  background-color:#946cc7;
  border-radius: 0.1em;
  text-align: center;
  display:inline-block;
  grid-column: 1 / -1;
  justify-self: center;
}

/* vierde sectie */

main > section:nth-of-type(4){
  position: relative;
  margin: 0.5em;
  background-color: #f3efec;
  width: 99%;
}

section:nth-of-type(4) img{
  width: 50%;
  position: relative;
}

section:nth-of-type(4) p{
  font-size:0.7em;
  width: 30%;
  top: calc(50% - 4em);
  padding: 1em;
  padding-bottom: 4em;
  position: absolute;
  background-color:rgba(255,255,255,0.8);
  font-weight: 700;
}

section:nth-of-type(4) p:first-of-type{
  padding-right: 5em;
  left:20%;
}
section:nth-of-type(4) p:nth-of-type(2){
  padding-right: 3em;
  right:20%;
}

/* footer */
footer{
  background-color: #f3efec;
  color: #3d4246 ;
}

footer section{
  padding: 2em;
}

footer h2{
  font-size: 1.2em ;
  text-align: left;
  padding-bottom: 1em;
}

footer ul{
  list-style-type: none;
}

ul li a{
  font-size: 1em;
  font-weight: 400;
  line-height: 2.5em;
  color: #3d4246 ;
  text-decoration: none;
}

ul li a:hover {
  text-decoration: underline;
}

footer p{
  font-size: 1em;
  font-weight: 400;
}

footer > p{
  text-align: center;
  padding-bottom: 3em;
}

footer input{
  width:100%;
  font-size:1em;
  letter-spacing: 0.1em;
  padding: 0.7em 1.6em;
  margin-bottom: 0.3em;
}

footer button{
  width: 100%;
  font-size:1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 0.7em 1.6em;
  color: #e3efec;
  background-color:#946cc7;
  border-radius: 0.1em;
}

footer hr{
  border: 1px solid #dfd5cd;
  margin-bottom: 2em;
}

footer img{
  width: 2em;
  margin: auto;
  display:block;
  margin-bottom: 3em;
}


/* ----------- PRODUCT DETAIL PAGINA ------------ */

.product h2{
  font-size: 2.3em;
  text-transform: inherit;
  letter-spacing: 0;
  text-align:left;
}

.product p, .product label{
  font-family:'Karla', sans-serif;
  font-size: 0.8em;
  font-weight: 400;
  line-height: 1.5em;
}

.product section > a, .product section section > button{
  font-size: 0.8em;
  font-weight:600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 1.1em 1.6em;
  background-color: white;
  color: #946cc7;
  border: 1px solid #946cc7;
  border-radius: 0.1em;
  text-align: center;
}

/* Header */
.product header p{
  font-size: 1em;
  font-weight: 700;
}

.product header a span {
  position: absolute;
  min-width: 1.25em;
  line-height: 1.3em;
  padding: .25 .5em;
  right: 1.6em;
  top: 8.5em;
  font-size: .6em;
  text-align: center;
  color: white;
  background-color: #946cc7;
  border-radius: 1em;
  display: none;
}
.product header a span.visible{
  display: block;
}


/* Eerste sectie */
.product main > section:first-of-type{
  background-image: none;
  height: auto;
  background-color:white;
}

.product main section section{
  padding: 1em;
}

.product main section section > img:first-of-type{
  width: 100%;
}

.product main section section ul{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0.5em;
}

.product main ul li{
  list-style-type: none;
  width:23.5%;
  font-size: 0.9em;
  line-height: 1.8em;
}

.product main ul li img{
  width: 100%;
}

.product section section > p:first-of-type{
  font-size: 1em;
  font-weight: 600;
}

.product section section button{
  width:100%;
  margin-top: 1em;
}

.product section section button:nth-of-type(2){
background-color: black;
color: white;
text-transform: lowercase;
border: 1px solid black;
}

.product section section a{
  position:relative;
  left:0;
  background-color:white;
  color:black;
  border:none;
  font-size:0.7em;
  margin-left:0;
  margin-top: 2em;
  margin: 2em 0em 1em 0em;
  padding:0;
  text-transform: inherit;
  font-weight: 400;
  text-align: center;
  width: 100%;
}


.product section section p{
  margin-top: 1em;
}

form{
  margin-top: 2em;
}

label{
  display:block;
  margin: 1em 0em; 
}

input{
  display: block;
  border: 1px solid #f3efec;
  width: 4em;
  height: 3em;
  padding: 0.25em 0.75em;
  font-size: 0.9em;
  font-weight: 200;
}

select{
  display:block;
}

/* accordion */

.product main section:first-of-type > section:nth-of-type(2) button:last-of-type {
  width: 100%;
  background-color: white;
  color: black;
  padding:0;
  border: 0px;
  text-align: left;
  font-size: 1em;
  font-weight: 700;
}

.product main section:first-of-type > section:nth-of-type(2) button:last-of-type::after{
  content: "+";
  position: absolute;
  right: 1em;
}


.product main section:nth-of-type(2) ul li{
  width: 100%;
  list-style-type: disc;
}

.product main section:nth-of-type(2) ul{
  padding-left: 1.2em;
  display:block;
  margin: auto;
  width: 80%;
  margin-top: 1em;
  height: 0em;
  overflow: hidden;
  transition: ease-in 0.5s;
}

.product main section:nth-of-type(2) ul.showinfo{
  height: 14em;
}

/* tweede sectie */

.product main > section:nth-of-type(2){
  padding: 1.5em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  position: relative;
  width: 100%;
}

.product main > section:nth-of-type(2) h2{
  font-size: 1.5em;
  letter-spacing: 0.1em;
  margin-bottom: 1em;
  text-align: center;
  text-transform: uppercase;
  grid-column: 1 / -1;
  display: block;
}

.product main > section:nth-of-type(2) > a:last-of-type{
  position: relative;
  margin: 2em 0 3em 0;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 0.7em 1.6em;
  color: #946cc7 ;
  background-color: white;
  border-radius: 0.1em;
  text-align: center;
  display:inline-block;
  grid-column: 1 / -1;
  justify-self: center;
}

main > section:nth-of-type(2) > a:last-of-type svg{
  width: 1.5em;
  vertical-align: middle;
}

/* --------- MEDIA QUERIES ---------- */

@media (min-width:750px ){

  h1{
    font-size: 5em;
  }

  main > section:first-of-type a{
    top: 70%;
  }

  main > section:nth-of-type(3){
    grid-template-columns: 1fr 1fr 1fr;
  }

  footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-gap: 1em;
  }

  footer hr, footer img, footer > p{
    grid-column: 1 / -1;
  }

  header nav ul:first-of-type{
    display: block;
  }

  header nav ul:last-of-type li:last-of-type{
    display:none;
  }

  section:nth-of-type(4) p{
    font-size:1.2em;
    line-height: 1.4em;
  }

  .product main{
    margin-top: 9.5em;
  }

  .product main > section:first-of-type{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  }

  .product main > section:nth-of-type(2){
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

}

@media (min-width:1000px ){
  section:nth-of-type(4) p{
    font-size:1.5em;
    line-height: 1.6em;
  }
}