/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box; 
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
}

section{
  width: 100vw;
}

h1{
  font-family:'Karla', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.7em;
  text-align: center;
}

h2{
  font-family:'Karla', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.4em;
  letter-spacing: 0.1em;
  text-align: center;
}

h3{
  font-family:'Karla', sans-serif;
  font-weight: 700;
  font-size: 1em;
}

p{
  font-family:'Karla', sans-serif;
  font-weight: 400;
  font-size: 1em;
}

q{
  font-family: 'Merriweather',serif;
  font-weight: 300;
  font-size: 1.3em;
  line-height: 1.3em;
  max-width: 75%;
  display: block;
}

a{
  font-family:'Karla', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  padding: 0.7em 1.6em;
  color: #e3efec;
  background-color:#946cc7;
  border-radius: 0.1em;
  text-align: center;
  display:inline-block;
  margin-left:calc(50% - 4.5em);
  position: absolute;
}

/* Navigatie */

header {
  position: fixed;
  background-color: white;
  z-index:1;
}

header p{
    background-color:#946cc7;
    color: white;
    padding:1em;
    font-weight: 700;
    text-align: center;
}

header nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.3em;
}

header nav > img {
  height: 3em;
}

header nav ul li{
  display: inline-block;
  padding-left: 1em;
}

header nav ul li img {
  width: 1.3em;
}

/* eerste sectie */

body > section:first-of-type{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-image: url('../images/Atelje_Yara_Michels_Pearl_Phone_Cases_Home_Image.png');
  background-position: center;
  background-color: blue;
  object-fit: cover;
}

section:first-of-type h1{
  position: absolute;
  top: 50%;
  left: 7%;
  color: white;
}

section:first-of-type a{
  position: absolute;
  top: 60%;
  left: cal(50% - 10em);
}

/* tweede sectie */

body > section:nth-of-type(2){
  padding: 5em 1.5em;
}

/* derde sectie */
body > section:nth-of-type(3){
  padding: 1.5em;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
}

section:nth-of-type(3) h2{
width: 100%;
margin-bottom: 2em;
}

section:nth-of-type(3) section{
  width: 47%;
  text-align: center;
  margin-bottom: 1em;
}

section:nth-of-type(3) section img{
  width: 100%;
  margin-bottom:1em;
}

section:nth-of-type(3) a{
  position: relative;
  /* bottom: -3em; */
  font-size: 1em;
  display: block;
}

/* vierde sectie */

body > section:nth-of-type(4){
  position: relative;
  margin: 0.5em;
  background-color: #f3efec;
  width:100vw;
}

section:nth-of-type(4) img{
  width: 50%;
  position: absolute;
}

section:nth-of-type(4) p{
  font-size:0.7em;
  width: 30%;
  padding: 1em;
  position: absolute;
  background-color:rgba(255,255,255,0.5);
}

section:nth-of-type(4) p:first-of-type{
  padding-right: 4em;
  top: 25%;
  left:20%;
}
section:nth-of-type(4) p:nth-of-type(2){
  top: 25%;
  right:20%;
}