/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

section{
  position: relative;
  width: 100vw;
}

img{
  position: relative;
  /* left:0; top:0; */

}

h1{
  font-family:'Karla', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.7em;
  text-align: center;
  position: absolute;
}

h2{
  font-family:'Karla', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.4em;
  letter-spacing: 0.1em;
  text-align: center;
}

h3{
  font-family:'Karla', sans-serif;
  font-weight: 700;
  font-size: 1em;
}

q{
  font-family: 'Merriweather',serif;
  font-weight: 300;
  font-size: 1.3em;
  line-height: 1.2em;
  max-width: 75%;
  display: block;
}

a{
  font-family:'Karla', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  padding: 0.7em 1.6em;
  color: #e3efec;
  background-color:#946cc7;
  border-radius: 0.1em;
  text-align: center;
  display:inline-block;
  margin-left:calc(50% - 5.5em);
  position: absolute;
}